<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839077813003-goug6e3ij747q87ffoajmvofcljnrd8b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839077813003-goug6e3ij747q87ffoajmvofcljnrd8b</string>
	<key>API_KEY</key>
	<string>AIzaSyAc3pDgYTJP_9xSTbNBgqD0Cqhaw44Dss4</string>
	<key>GCM_SENDER_ID</key>
	<string>839077813003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nikhilpatnaik.Map</string>
	<key>PROJECT_ID</key>
	<string>covid19-status-tracker-6a3a3</string>
	<key>STORAGE_BUCKET</key>
	<string>covid19-status-tracker-6a3a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839077813003:ios:c858644052852e09ba200e</string>
	<key>DATABASE_URL</key>
	<string>https://covid19-status-tracker-6a3a3.firebaseio.com</string>
</dict>
</plist>